python/__pycache__
python/Camera/imageProcessing_old.py
python/Camera/tmp_pict
VisueleControleFietsFrames.db
test_data_cat_dogs
python/CV/CreateDataset_oud.py
python/CV/test_y.joblib
python/CV/train_x.joblib
python/CV/Normalise_images.py